* {
  background-color: #3B3B6C;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #D3D5E9;
  padding: 2%;
  text-align: center;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.invite-header {
  background-color: #FEFEFF;
  color: #000000;
  font-size: 22px;
}

.invite-list {
  background-color: #FEFEFF;
  padding: 1%;
  width: 60%;
}

.form-header {
  background-color: #656794;
  color: #FEFEFF;
  font-size: 22px;
  padding: 1.5% 0 0 1.5%;
  width: 60%;
}

.form {
  background-color: #656794;
  padding: 1.5%;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-form {
  background-color: #656794;
  display: flex;
  flex-direction: column;
}

input {
  background-color: #FEFEFF;
  border: none;
  font-size: 14px;
  margin: 5% 0;
  padding: 5%;
  width: 325%;
}

button {
  background-color: #3B4071;
  border: none;
  color: #FEFEFF;
  font-size: 14px;
  margin-top: 5%;
  padding: 5%;
  width: 325%;
}

button:hover {
  background-color: #362256;
  transition: .5s;
}

.image {
  background-image: url('./images/hedgehog.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 185px;
  margin-top: .99%;
  width: 30%;
}
