* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #3B4071;
  background: linear-gradient(45deg, #362256, #3B4071);
}

h1 {
  color: #D3D5E9;
  padding: 2%;
  text-align: center;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.invite-header {
  background-color: #FEFEFF;
  color: #000000;
  font-size: 22px;

}

.invite-list {
  background-color: #FEFEFF;
  padding: 2%;
  width: 60%;
}

.list-titles,
li {
  border-bottom: 1px solid #000000;
  background-color: #FEFEFF;
  display: flex;
  flex-direction: row;
  font-weight: 600;
  justify-content: flex-start;
  padding: 2% 0 .5% .5%;
}

li {
  border: none;
  margin-right: 21%;
}

.form-header {
  background-color: #656794;
  color: #FEFEFF;
  font-size: 22px;
  padding: 1.5% 0 0 2%;
  width: 60%;
}

.form {
  background-color: #656794;
  padding: 1% 2% 2% 2%;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-form {
  background-color: #656794;
  display: flex;
  flex-direction: column;
}

input {
  background-color: #FEFEFF;
  border: none;
  font-size: 14px;
  margin: 5% 0;
  padding: 5%;
  width: 325%;
}

button {
  background-color: #3B4071;
  border: none;
  color: #FEFEFF;
  font-size: 14px;
  margin-top: 5%;
  padding: 5%;
  width: 325%;
}

button:hover {
  background-color: #362256;
  transition: .5s;
}

.image {
  background-image: url('./images/hedgehog.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95%;
  margin-top: 1%;
  width: 30%;
}
